.box {
    width: 300px;
    height: 300px;
    border: 1px solid #888888;
    text-align: justify;
    margin-top: 77px;
    margin-left: 37px;
}
p{
    margin-top: 0px;
}
h3 {
    text-align: center;
    color: red;
}
